on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Set up aws credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: us-east-1   
        - name: Set up terraform
          uses: hashicorp/setup-terraform@v1
          with:
            terraform_version: 1.13.5
        - name: Terraform Initialize
          run: terraform init
        - name: Terraform Validate
          run: terraform validate
        - name: Terraform Plan
          run: terraform plan
        - name: Terraform Apply
          if: github.ref == 'refs/heads/main' && github.event_name == 'push'
          run: terraform apply -auto-approve
